<?xml version="1.0"?>
<config>
    <modules>
        <Rakuten_RakutenLogistics>
            <version>1.1.0</version>
        </Rakuten_RakutenLogistics>
    </modules>

    <frontend>
        <routers>
            <rakutenlogistics>
                <use>standard</use>
                <args>
                    <module>Rakuten_RakutenLogistics</module>
                    <frontName>rakutenlogistics</frontName>
                </args>
            </rakutenlogistics>
        </routers>    
    </frontend>
    <global>
        <events>
            <core_block_abstract_prepare_layout_before>
                <observers>
                    <rakuten_rakutenlogistics_model_observer>
                        <type>singleton</type>
                        <class>Rakuten_RakutenLogistics_Model_Observer</class>
                        <method>createLogisticsBatchButton</method>
                    </rakuten_rakutenlogistics_model_observer>
                </observers>
            </core_block_abstract_prepare_layout_before>
            <sales_order_save_after>
                <observers>
                    <maddy_sendsms>
                        <type>singleton</type>
                        <class>Rakuten_RakutenLogistics_Model_Observer</class>
                        <method>saveCalculationCode</method>
                    </maddy_sendsms>
                </observers>
            </sales_order_save_after>
            <resource_get_tablename>
                <observers>
                    <rakuten_rakutenlogistics>
                        <class>Rakuten_RakutenLogistics_Model_Observer</class>
                        <method>addAutoloader</method>
                    </rakuten_rakutenlogistics>
                </observers>
            </resource_get_tablename>
        </events>
        <resources>
            <rakuten_rakutenlogistics_setup>
                <setup>
                    <module>Rakuten_RakutenLogistics</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </rakuten_rakutenlogistics_setup>
             <rakutenlogistics_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </rakutenlogistics_write>
            <rakutenlogistics_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </rakutenlogistics_read>
        </resources>
        <blocks>
            <rakuten_rakutenlogistics>
                <class>Rakuten_RakutenLogistics_Block</class>
            </rakuten_rakutenlogistics>
            <adminhtml>
                <rewrite>
                    <sales_order_grid>Rakuten_RakutenLogistics_Block_Adminhtml_Sales_Order_Grid</sales_order_grid>
                </rewrite>
            </adminhtml>
        </blocks>
        <helpers>
            <rakutenlogistics>
                <class>Rakuten_RakutenLogistics_Helper</class>
            </rakutenlogistics>
        </helpers>
        <models>
            <rakuten_rakutenlogistics>
                <class>Rakuten_RakutenLogistics_Model</class>
            </rakuten_rakutenlogistics>
        </models>
    </global>
    <admin>
        <routers>
            <rakutenlogistics>
                <use>admin</use>
                <args>
                    <module>Rakuten_RakutenLogistics</module>
                    <frontName>rakutenlogistics</frontName>
                </args>
            </rakutenlogistics>
        </routers>
    </admin>
    <adminhtml>
        <menu>
            <rakutenpay_menu translate="title" module="rakutenlogistics">
                <children>
                    <rakutenlogistics_configuration translate="title" module="rakutenlogistics">
                        <title>Logistics</title>
                        <action>adminhtml/system_config/edit/section/carriers/</action>
                        <sort_order>2000</sort_order>
                    </rakutenlogistics_configuration>
                </children>
            </rakutenpay_menu>
        </menu>
    </adminhtml>
    <default>
         <carriers>
            <rakuten_rakutenlogistics>
                <active>1</active>
                <model>rakuten_rakutenlogistics/shipping_carrier_rakutenlogistics</model>
                <title>Rakuten Logistics</title>
                <name>Default Rate</name>
                <sallowspecific>0</sallowspecific>
            </rakuten_rakutenlogistics>
        </carriers>
    </default>
</config>

