<?xml version="1.0"?>
<config>
    <modules>
        <Rakuten_RakutenPay>
            <version>1.2.6</version>
        </Rakuten_RakutenPay>
    </modules>
    <global>
        <fieldsets>
            <sales_convert_quote_address>
                <rakutenfee_amount>
                    <to_order>*</to_order>
                </rakutenfee_amount>
                <base_rakutenfee_amount>
                    <to_order>*</to_order>
                </base_rakutenfee_amount>
            </sales_convert_quote_address>
        </fieldsets>
        <payment>
            <groups>
                <rakutenpay>RakutenPay</rakutenpay>
            </groups>
        </payment>
        <sales>
            <quote>
                <totals>
                    <rakutenfee>
                        <class>rakuten_rakutenpay/quote_address_total_rakutenfee</class>
                        <after>grand_total</after>
                    </rakutenfee>
                </totals>
            </quote>
        </sales>
        <blocks>
            <rakuten_rakutenpay>
                <class>Rakuten_RakutenPay_Block</class>
            </rakuten_rakutenpay>
        </blocks>
        <models>
            <rakuten_rakutenpay>
                <class>Rakuten_RakutenPay_Model</class>
            </rakuten_rakutenpay>
        </models>
        <helpers>
            <rakutenpay>
                <class>Rakuten_RakutenPay_Helper</class>
            </rakutenpay>
        </helpers>
        <events>
            <resource_get_tablename>
                <observers>
                    <rakuten_rakutenpay>
                        <class>Rakuten_RakutenPay_Model_Observer</class>
                        <method>addAutoloader</method>
                    </rakuten_rakutenpay>
                </observers>
            </resource_get_tablename>
        </events>
        <template>
            <email>
                <payment_rakutenpay_template translate="label" module="rakutenpay">
                    <label>RakutenPay - Abandoned Transactions</label>
                    <file>sales/rakutenpay_abandoned.html</file>
                    <type>html</type>
                </payment_rakutenpay_template>
            </email>
        </template>
        <resources>
            <rakuten_rakutenpay_setup>
                <setup>
                    <module>Rakuten_RakutenPay</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </rakuten_rakutenpay_setup>
            <rakutenpay_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </rakutenpay_write>
            <rakutenpay_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </rakutenpay_read>
        </resources>
    </global>
    <admin>
        <routers>
            <rakutenpay>
                <use>admin</use>
                <args>
                    <module>Rakuten_RakutenPay</module>
                    <frontName>rakutenpay</frontName>
                </args>
            </rakutenpay>
        </routers>
    </admin>
    <adminhtml>
        <translate>
            <modules>
                <mage_adminhtml>
                    <files>
                        <rakutenpay>Rakuten_RakutenPay.csv</rakutenpay>
                    </files>
                </mage_adminhtml>
            </modules>
        </translate>
        <menu>
            <rakutenpay_menu translate="title" module="rakutenpay">
                <title>Rakuten Connector</title>
                <sort_order>1000</sort_order>
                <children>
                    <rakutenpay_configuration translate="title" module="rakutenpay">
                        <title>Pay</title>
                        <action>adminhtml/system_config/edit/section/payment/</action>
                        <sort_order>2000</sort_order>
                    </rakutenpay_configuration>
                    <rakutenpay_refund translate="title" module="rakutenpay">
                        <title>Estorno</title>
                        <action>rakutenpay/adminhtml_refund</action>
                        <sort_order>2100</sort_order>
                    </rakutenpay_refund>
                </children>
            </rakutenpay_menu>
        </menu>
        <acl>
            <resources>
                <admin>
                    <children>
                        <catalog>
                            <children>
                                <rakutenpay_adminform>
                                    <title>RakutenPay</title>
                                </rakutenpay_adminform>
                            </children>
                        </catalog>
                    </children>
                </admin>
            </resources>
        </acl>
        <layout>
            <updates>
                <rakutenpay>
                    <file>rakuten/rakutenpay.xml</file>
                </rakutenpay>
            </updates>
        </layout>
        <events>
            <admin_system_config_changed_section_payment>
                <observers>
                    <rakuten_rakutenpay>
                        <model>rakuten_rakutenpay/observer</model>
                        <method>adminSystemConfigPaymentSave</method>
                    </rakuten_rakutenpay>
                </observers>
            </admin_system_config_changed_section_payment>
            <sales_order_save_after>
                <observers>
                    <rakuten_rakutenpay>
                        <model>rakuten_rakutenpay/observer</model>
                        <method>adminOrderAfterSave</method>
                    </rakuten_rakutenpay>
                </observers>
            </sales_order_save_after>
            <payment_method_is_active>
                <observers>
                    <paymentfilter_payment_method_is_active>
                        <model>rakuten_rakutenpay/observer</model>
                        <method>adminFilterPaymentMethod</method>
                    </paymentfilter_payment_method_is_active>
                </observers>
            </payment_method_is_active>
        </events>
    </adminhtml>
    <frontend>
        <routers>
            <rakutenpay>
                <use>standard</use>
                <args>
                    <module>Rakuten_RakutenPay</module>
                    <frontName>rakutenpay</frontName>
                </args>
            </rakutenpay>
        </routers>
        <layout>
            <updates>
                <rakutenpay>
                    <file>rakuten/rakutenpay.xml</file>
                </rakutenpay>
            </updates>
        </layout>
    </frontend>
    <default>
        <cron>
            <update_order_status>
                <active>0</active>
            </update_order_status>
        </cron>
        <payment>
            <rakutenpay_credit_card>
                <active>0</active>
                <model>Rakuten_RakutenPay_Model_CreditCard</model>
                <title>Cart&#xE3;o de Cr&#xE9;dito</title>
                <group>rakutenpay</group>
                <minimum_installment>10.00</minimum_installment>
                <sort_order>2</sort_order>
            </rakutenpay_credit_card>
            <rakutenpay_boleto>
                <active>0</active>
                <model>Rakuten_RakutenPay_Model_Boleto</model>
                <title>Boleto Banc&#xE1;rio</title>
                <group>rakutenpay</group>
                <expiration>10</expiration>
                <sort_order>3</sort_order>
            </rakutenpay_boleto>
        </payment>
    </default>
    <crontab>
        <jobs>
            <rakuten_rakutenpay>
                <schedule>
                    <cron_expr>*/1 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>rakuten_rakutenpay/cron_orderstatus::updateOrderStatus</model>
                </run>
            </rakuten_rakutenpay>
        </jobs>
    </crontab>
</config>

